// _base.scss
@use 'variables' as *;
@use 'layout' as *;

*, *::before, *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  font-size: $font-size-sm;
  line-height: 1.6;
  color: $text-color;
  background-color: $dark-background;
  margin: 0;
  padding: 0;
}

// a {
//   color: $logo-nikola-color;
//   text-decoration: none;
// }

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.site-main{
  position: absolute;
  width: 100%;
}