// _layout.scss

@use 'variables' as *;
@use 'mixins';

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
}

.section {
  padding: $spacing-md 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.responsive-flex {
  display: flex;
  flex-direction: column;

  @include mixins.respond($breakpoint-md) {
    flex-direction: row;
  }
}
